/* ----- Header CSS start ----- */
.navbar {
  display: none;
}

.header {
  border-bottom: 2px solid var(--primary);

  .header-inner {
    .header-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;

      .header-logo {
        width: auto;
        height: 50px;

        img {
          height: 100%;
        }
      }

      .header-menu {
        display: flex;
        align-items: center;
        gap: 40px;

        .header-links {
          display: flex;
          gap: 40px;
        }

        button {
          border: 2px solid #eb7e29;
          border-radius: 50px;
          padding: 10px 15px;
          font-size: 16px;
          font-weight: 500;
          background-color: #ffffff;
          display: flex;
          gap: 10px;
          align-items: center;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease,
            transform 0.3s ease;

          .btn-arrow {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary);
            border-radius: 50px;
            transition: background-color 0.3s ease, transform 0.3s ease;

            svg {
              width: 15px;
              height: 15px;
              color: var(--white);
              transition: color 0.3s ease;
            }
          }
        }
        button:hover {
          background-color: #eb7e29;
          color: #ffffff;
          transform: scale(1.05);

          .btn-arrow {
            background-color: var(--white);
            transform: rotate(360deg);

            svg {
              color: var(--primary);
            }
          }
        }
      }
    }
  }

  .nav-links {
    display: none;
  }
}
/* ----- Header CSS end ----- */

/* ----- Footer CSS start ----- */
.footer {
  background-color: var(--footer);

  .footer-inner {
    .footer-top {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 80px;
      padding: 80px 0;

      .footer-col-1 {
        img {
          height: 70px;
          width: auto;
        }
        p {
          margin: 15px 0 0;
          font-weight: 300;
          color: var(--white);
        }
      }

      .footer-col-2 {
        h5 {
          margin: 0 0 20px;
          color: var(--white);
        }

        .footer-links {
          margin: 0;
          padding-left: 0;

          li {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;
            font-size: 18px;
            line-height: normal;
            font-weight: 500;
            color: var(--white);
            cursor: pointer;

            svg {
              width: 14px;
              height: 14px;
              color: var(--white);
            }
          }
        }
      }

      .footer-col-3 {
        h5 {
          margin: 0 0 20px;
          color: var(--white);
        }

        .connect-box {
          .connect-details {
            margin-bottom: 20px;

            a {
              color: var(--white);
            }

            .connect-title {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-bottom: 5px;

              h6 {
                color: var(--white);
              }

              .connect-icon {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary);
                border-radius: 5px;

                svg {
                  width: 15px;
                  height: 15px;
                  color: var(--white);
                }
              }
            }

            p {
              margin: 0;
              color: var(--white);
            }

            a:hover {
              color: var(--primary);
            }
          }
          .connect-details:nth-child(3) {
            margin-bottom: 0;
          }
        }
      }
    }

    .footer-copyright {
      padding: 20px 0;
      border-top: 1px solid var(--white);

      p {
        text-align: center;
        margin: 0;
        color: var(--white);
      }
    }
  }
}
/* ----- Footer CSS end ----- */

/* ----- Home css start ----- */
.homepage {
  .home-inner {
    .banner {
      width: 100%;
      height: 80vh;
      background-image: url(../public/Home-banner.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .banner-outer {
        background-color: rgb(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .banner-text {
          text-align: center;

          h1 {
            color: var(--white);
          }
        }
      }
    }

    .zigzag {
      background-color: var(--secondary);
      .zigzag-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        padding: 80px 0;
        overflow: hidden;

        .zigzag-img {
          width: 30%;
          animation: scaleIn 1s ease-in-out forwards;

          img {
            width: 100%;
          }
        }

        .zigzag-text {
          width: 70%;
          transform: translateY(20px);
          animation: slideUpFadeIn 1s ease-in-out 0.5s forwards;

          h2 {
            margin-bottom: 30px;
          }

          p {
            margin-bottom: 15px;
          }

          :nth-child(3) {
            margin-bottom: 0;
          }

          button {
            margin-top: 40px;
          }
        }
      }
    }
    @keyframes scaleIn {
      0% {
        transform: scale(0.8);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    @keyframes slideUpFadeIn {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .card-col,
    .card-col-rev {
      .card-col-inner,
      .card-col-rev-inner {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;

        .four-card {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;

          .card {
            padding: 15px;
            background-color: var(--white);
            box-shadow: rgba(248, 194, 145, 0.2) 0px 6px 24px 0px,
              rgba(248, 194, 145, 0.3) 0px 0px 0px 1px;
            border-radius: 5px;

            span {
              font-size: 22px;
              font-weight: 600;
            }
            p {
              margin-top: 10px;
            }
          }
        }

        .single-card {
          .card {
            padding: 30px;
            height: 100%;
            background: linear-gradient(45deg, #eb7e29, #f4a460);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

            span {
              font-size: 16px;
              font-weight: 500;
              color: var(--white);
            }

            h3 {
              margin-top: 10px;
            }

            p {
              margin-top: 20px;
            }
          }
        }
      }
    }

    .card-col {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .card-col-rev {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .how-we-work {
      padding: 80px 0;
      background-color: var(--secondary);

      h2 {
        text-align: center;
        margin-bottom: 30px;
      }

      .hww-inner {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;

        .step-card {
          padding: 20px;
          background-color: var(--white);
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary);
            border-radius: 10px;
            color: var(--white);
            transition: background-color 0.3s ease;
          }

          h4 {
            font-size: 18px;
            font-weight: 400;
            transition: color 0.3s ease;
          }

          &:hover {
            transform: translateY(-10px) scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px;

            h3 {
              background-color: var(--secondary);
              color: var(--primary);
            }

            h4 {
              color: var(--primary);
            }
          }
        }
      }
    }

    .portfolio {
      padding: 80px 0;

      h2 {
        text-align: center;
        margin-bottom: 20px;
      }

      .portfolio-inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        align-items: center;

        .zigzag {
          display: flex;
          align-items: center;
          gap: 30px;
          background-color: var(--white);
          padding: 20px;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

          .zigzag-img {
            width: 265px;
            height: 265px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              object-fit: cover;
            }
          }

          .zigzag-text {
            width: 75%;

            h3 {
              font-size: 30px;
              font-weight: 500;
              margin-bottom: 20px;
            }
            .download-btn {
              margin-top: 30px;
            }
          }
        }

        .zigzag-rev {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: 30px;
          background-color: var(--white);
          padding: 20px;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

          .zigzag-rev-img {
            width: 265px;
            height: 265px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              object-fit: cover;
            }
          }

          .zigzag-rev-text {
            width: 75%;
            h3 {
              font-size: 30px;
              font-weight: 500;
              margin-bottom: 20px;
            }
            .download-btn {
              margin-top: 30px;
            }
          }
        }
        button.prm-btn {
          margin-top: 20px;
        }
      }
    }
  }
}
/* ----- Home css end ----- */

/* ----- About css start ----- */
.aboutpage {
  .about-inner {
    .banner {
      background-image: url(../public/About-banner.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: fit-content;

      .banner-outer {
        background-color: rgb(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .banner-text {
          text-align: center;

          h1 {
            color: var(--white);
            padding: 80px 0;
          }
        }
      }
    }

    .zigzag {
      .zigzag-inner {
        padding: 80px 0;
        display: flex;
        gap: 30px;
        align-items: center;

        .zigzag-img {
          width: 50%;

          img {
            width: 100%;
          }
        }

        .zigzag-text {
          width: 50%;

          h2 {
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 15px;
          }

          .our-work {
            display: grid;
            gap: 10px;

            p {
              display: flex;
              gap: 10px;
              align-items: center;
              svg {
                width: 20px;
                height: 20px;
                color: var(--primary);
              }
            }
          }

          button {
            margin-top: 30px;
          }
        }
      }
    }

    .stats {
      background-image: url(../public/About-stats.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .stats-outer {
        background-color: rgba(0, 0, 0, 0.65);

        .stats-inner {
          padding: 80px 0;
          display: grid;
          grid-template-columns: repeat(4, minmax(0, 1fr));

          .stat-box {
            padding: 0 30px;
            border-right: 1px solid var(--white);

            span {
              font-size: 26px;
              font-weight: 700;
              line-height: 1;
              color: var(--white);
            }
            p {
              font-size: 20px;
              font-weight: 400;
              line-height: 1;
              margin-top: 10px;
              color: var(--white);
            }
          }
          .stat-box:last-child {
            border: none;
          }
        }
      }
    }

    .team {
      padding: 80px 0;
      h2 {
        margin-bottom: 30px;
        text-align: center;
      }
      .team-inner {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;

        .team-card {
          .team-img {
            border-radius: 10px;

            img {
              border-radius: 10px;
            }
          }
          .team-text {
            padding: 20px;
            background-color: var(--white);
            border-radius: 10px;
            box-shadow: 0 1px 4px rgb(205 205 205 / 90%);
            margin: 0 20px;
            position: relative;
            margin-top: -70px;

            h3 {
              font-size: 28px;
              line-height: 1;
              font-weight: 600;
              margin-bottom: 5px;
            }
            span {
              font-size: 16px;
              font-weight: 600;
              line-height: 1;
              color: var(--primary);
            }
            p {
              color: #7a7a7a;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
/* ----- About css end ----- */

/* ----- Portfolio CSS start ----- */
.portfoliopage {
  .portfolio-inner {
    .banner {
      background-image: url(../public/Portfolio-banner.jpg);
      background-position: 80% 80%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: fit-content;

      .banner-outer {
        background-color: rgb(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .banner-text {
          text-align: center;

          h1 {
            color: var(--white);
            padding: 80px 0;
          }
        }
      }
    }

    .portfolio-cards {
      padding: 80px 0;
      h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 30px;
      }

      .zigzag {
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: var(--white);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        .zigzag-img {
          width: 265px;
          height: 265px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
          }
        }

        .zigzag-text {
          width: 75%;
        }
      }

      .two-card {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px;
        margin-bottom: 30px;

        .immunity-card,
        .gynec-card,
        .gastro-card,
        .liver-card,
        .side-card {
          background-color: var(--white);
          border-radius: 10px;
          padding: 20px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

          .immunity-img,
          .gynec-img,
          .gastro-img,
          .liver-img,
          .side-card-img {
            width: 100%;
            height: 265px;
            margin-bottom: 10px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              object-fit: cover;
            }
          }
          // .immunity-text,
          // .gynec-text {
          //   h3 {
          //     font-size: 30px;
          //     font-weight: 500;
          //     margin-bottom: 20px;
          //   }
          //   p {
          //     margin-bottom: 20px;
          //   }
          // }
        }
      }

      .zigzag-rev {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 30px;
        background-color: var(--white);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        .zigzag-rev-img {
          width: 265px;
          height: 265px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
          }
        }

        .zigzag-rev-text {
          width: 75%;
        }
      }
    }
  }
}
/* ----- Portfolio CSS end ----- */

/* ----- Contact css start ----- */
.contactpage {
  .contact-inner {
    padding: 80px 0;

    .contact-top {
      display: flex;
      gap: 30px;

      .contact-details {
        .contact-heading {
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #cccccc;

          h1 {
            font-size: 42px;
            font-weight: 600;
            margin-bottom: 10px;
          }
        }

        .contact-address {
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #cccccc;
          h2 {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 10px;
          }

          .mobile-no,
          .mail-id {
            margin-top: 20px;

            h3 {
              font-size: 26px;
              font-weight: 500;
              margin-bottom: 5px;
            }

            a {
              color: #616161;
            }
            a:hover {
              color: var(--primary);
            }
          }
        }

        .social-media {
          display: flex;
          gap: 20px;

          a {
            width: 40px;
            height: 40px;
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            transition: box-shadow 0.3s ease;

            svg {
              width: 20px;
              height: 20px;
              color: var(--primary);
              transition: color 0.3s ease;
            }

            &:hover {
              box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px,
                rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
              background-color: var(--primary);

              svg {
                color: var(--white);
              }
            }
          }
        }
      }

      .map {
        width: 100%;

        iframe {
          width: 100%;
        }
      }
    }

    .contact-bottom {
      padding-top: 40px;

      h4 {
        font-weight: 600;
        margin-bottom: 20px;
      }

      .form {
        .user-details {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          gap: 20px;
          margin-bottom: 20px;

          input {
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 20px;
            background-color: var(--secondary);
            outline: none;
          }
        }

        .user-msg {
          textarea {
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 20px;
            width: 100%;
            background-color: var(--secondary);
            outline: none;
          }
        }

        button {
          font-size: 16px;
          font-weight: 500;
          padding: 10px 20px;
          background: var(--primary);
          border-radius: 50px;
          margin-top: 20px;
        }
      }
    }
  }
}
/* ----- Contact css end ----- */

@media screen and (max-width: 1024px) {
  .header {
    .header-inner {
      .header-desktop {
        display: none;
      }

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .navbar-logo {
          width: auto;
          height: 45px;

          img {
            height: 100%;
          }
        }

        .navbar-menu {
          display: flex;
          align-items: center;

          .navbar-links {
            width: 35px;
            height: 35px;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #b7b7b7;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          button {
            width: 45px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
            border: 2px solid var(--primary);
            border-radius: 20px;

            svg {
              height: 20px;
              width: auto;
            }
          }
          button:hover {
            background-color: var(--primary);

            svg {
              color: var(--white);
            }
          }
        }
      }
    }
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0;

      &.open {
        height: 92vh;
        opacity: 1;
      }

      a {
        font-size: 30px;
        font-weight: 600;
        color: #333;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: var(
            --primary
          );
        }
      }
    }
  }

  .footer {
    .footer-inner {
      .footer-top {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 40px;
        padding: 60px 0;

        .footer-col-3 {
          .connect-box {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
          }
        }
      }
    }
  }

  .homepage {
    .home-inner {
      .banner {
        .banner-text {
          h1 {
            font-size: 42px;
            font-weight: 600;
            line-height: normal;
          }
        }
      }

      .zigzag {
        .zigzag-inner {
          padding: 60px 0;
          gap: 40px;
        }
      }

      .card-col {
        padding: 60px 0;
        .card-col-inner {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .four-card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .card {
              padding: 15px;
              background-color: var(--white);
              border-radius: 5px;

              span {
                font-size: 22px;
                font-weight: 600;
              }
              p {
                margin-top: 10px;
              }
            }
          }

          .single-card {
            .card {
              padding: 30px;
              height: 100%;
              border-radius: 5px;

              span {
                font-size: 16px;
                font-weight: 500;
                color: var(--white);
              }

              h3 {
                margin-top: 10px;
              }

              p {
                margin-top: 20px;
              }
            }
          }
        }
      }

      .card-col-rev {
        padding: 60px 0;
        .card-col-rev-inner {
          display: flex;
          flex-direction: column-reverse;
        }
      }

      .how-we-work {
        padding: 60px 0;

        .hww-inner {
          grid-template-columns: repeat(3, minmax(0, 1fr));

          .step-card {
            h3 {
              font-size: 30px;
            }
            h4 {
              font-size: 20px;
            }
          }
        }
      }

      .portfolio {
        padding: 60px 0;
        .portfolio-inner {
          flex-direction: column;
          gap: 30px;
          width: 100%;

          .big-card {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            background-color: var(--white);
            border-radius: 10px;
            width: 100%;

            .bc-img {
              width: 100%;
              img {
                width: 100%;
              }
            }

            .bc-text {
              p {
                margin: 20px 0;
              }
            }
          }

          .two-cards {
            width: 100%;

            .card {
              flex-direction: column;
              gap: 20px;
              background-color: var(--white);
              padding: 20px;
              border-radius: 10px;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

              .card-img {
                width: 100%;
                img {
                  width: 100%;
                }
              }
              .card-text {
                width: 100%;

                p {
                  margin: 10px 0 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .aboutpage {
    .about-inner {
      .banner {
        .banner-text {
          h1 {
            font-size: 42px;
            font-weight: 600;
            line-height: normal;
          }
        }
      }

      .zigzag {
        .zigzag-inner {
          flex-direction: column;
          padding: 60px 0;
          gap: 20px;

          .zigzag-img {
            width: 100%;
          }
          .zigzag-text {
            width: 100%;
          }
        }
      }

      .stats {
        .stats-outer {
          .stats-inner {
            padding: 60px 0;
            grid-template-columns: repeat(2, minmax(0, 1fr));

            .stat-box {
              padding: 30px;
              border-right: 1px solid var(--white);
              text-align: center;
            }
            .stat-box:nth-child(1) {
              border-bottom: 1px solid var(--white);
            }
            .stat-box:nth-child(2) {
              border-bottom: 1px solid var(--white);
              border-right: none;
            }
          }
        }
      }

      .team {
        padding: 60px 0;

        .team-inner {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: center;

          .team-card {
            width: 46%;
          }
        }
      }
    }
  }

  .portfoliopage {
    .portfolio-inner {
      .banner {
        .banner-text {
          h1 {
            font-size: 42px;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
      .portfolio-cards {
        padding: 60px 0 40px;
      }
    }
  }

  .contactpage {
    .contact-inner {
      padding: 60px 0;

      .contact-top {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .footer-inner {
      .footer-top {
        padding: 40px 0;

        .footer-col-3 {
          .connect-box {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }
        }
      }
    }
  }

  .contactpage {
    .contact-inner {
      padding: 40px 0;

      .contact-bottom {
        .form {
          .user-details {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }
        }
      }
    }
  }

  .homepage {
    .home-inner {
      .zigzag {
        .zigzag-inner {
          padding: 40px 0;
          flex-direction: column;
          gap: 20px;

          .zigzag-img {
            width: 100%;
          }

          .zigzag-text {
            width: 100%;
          }
        }
      }

      .card-col {
        padding: 40px 0;
        .card-col-inner {
          .four-card {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }
        }
      }

      .card-col-rev {
        padding: 40px 0;
        .card-col-rev-inner {
          .four-card {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }
        }
      }

      .how-we-work {
        padding: 40px 0;

        .hww-inner {
          grid-template-columns: repeat(1, minmax(0, 1fr));

          .step-card {
            h3 {
              font-size: 24px;
            }
            h4 {
              font-size: 20px;
            }
          }
        }
      }

      .portfolio {
        padding: 40px 0;
        .portfolio-inner {
          .zigzag {
            flex-direction: column;
            gap: 10px;
            .zigzag-img {
              width: 100%;
            }
            .zigzag-text {
              width: 100%;
            }
          }

          .zigzag-rev {
            flex-direction: column;
            gap: 10px;
            .zigzag-rev-img {
              width: 100%;
            }
            .zigzag-rev-text {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .aboutpage {
    .about-inner {
      .zigzag {
        .zigzag-inner {
          padding: 40px 0;
        }
      }

      .stats {
        .stats-outer {
          .stats-inner {
            padding: 40px 0;
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .stat-box {
              padding: 30px;
              border-bottom: 1px solid var(--white);
              border-right: none;
              text-align: center;
            }
            .stat-box:nth-child(1) {
              border-bottom: 1px solid var(--white);
            }
          }
        }
      }

      .team {
        padding: 40px 0;

        .team-inner {
          flex-direction: column;
          flex-wrap: nowrap;
          gap: 30px;
          align-items: center;

          .team-card {
            width: 56%;
          }
        }
      }
    }
  }

  .portfoliopage {
    .portfolio-inner {
      .portfolio-cards {
        padding: 40px 0;
        .zigzag {
          flex-direction: column;
          gap: 10px;
          .zigzag-img {
            width: 100%;
          }
          .zigzag-text {
            width: 100%;
          }
        }

        .two-card {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        .zigzag-rev {
          flex-direction: column;
          gap: 10px;
          .zigzag-rev-img {
            width: 100%;
          }
          .zigzag-rev-text {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .aboutpage {
    .about-inner {
      .team {
        .team-inner {
          .team-card {
            width: 80%;
          }
        }
      }
    }
  }
}
